<div id="<%= dom_id renaiss %>">
  <p>
    <strong>Author:</strong>
    <%= renaiss.author %>
  </p>

  <p>
    <strong>Born died:</strong>
    <%= renaiss.born_died %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= renaiss.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= renaiss.date %>
  </p>

  <p>
    <strong>Technique:</strong>
    <%= renaiss.technique %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= renaiss.location %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= renaiss.url %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= renaiss.form %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= renaiss.type %>
  </p>

  <p>
    <strong>School:</strong>
    <%= renaiss.school %>
  </p>

  <p>
    <strong>Timeframe:</strong>
    <%= renaiss.timeframe %>
  </p>

</div>
